@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
	scroll-behavior: smooth;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
*{
	padding: 0px;
	margin: 0px;
}
#nav {
	width: 100%;
	height: 100%;
	background: url('../Pictures/Goodimage123.jpg') no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}
#nav2 {
	position: fixed;
	background: #036A81;
	height: 90px;
	width: 100%;
	line-height: 90px;
	text-align: center;
	opacity: 0.9;
	filter: alpha (opacity=90);
	z-index:500;
}

#nav2 h1 {
	float: left;
	font-weight: 400;
	color: white;
	cursor: pointer;
	margin-left: 10px;
}
#nav2 ul{
	position: relative;
	float: right;
	margin-right: 60px;
	line-height: 55px;
}
#nav2 ul li {
	list-style-type: none;
	display: inline-block;
	line-height: 55px;
}

#nav2 ul li a{
	padding: 22px;
	text-decoration: none;
	color: white;
	display: block;
}
#nav2 ul li:hover {
	background: #157b92;
	transition: all 0.40s;
}
#nav_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#nav2 ul ul {
	display: none;
	position: absolute;
	width: 120px;
}
#nav2 ul li li{
	background: #157b92;
	display: block;
}
#nav2 ul li:hover ul{
	display: block;
}
#nav2 ul li li a {
	padding: 20px;
}
#nav2 ul li li:hover {
	background: #0b5667;
	transition: all 0.40s;
}
.active {
	background: #157b92;
}
.intro .inner {
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 450px;
}

.content h1 {
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
	position: relative;
	top: -50px;
}
.btn {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #036A81;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #036A81 3px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	top: 50 px;
}
.btn:hover {
	color: #fff;
	border: solid #fff 3px;
}
p {
	font-size: 110%;
	line-height: 160%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
}
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	p {
		font-size: 80%;
		line-height: 130%;
	}
}

#profile {
	width: 100%;
	height: 750px;
}

#prof_pic {
	width: 300px;
	height: 300px;
	background-image: url('../pictures/IMG_2974.JPG');
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: 114%;
	left: 23%;
}

#profile h1 {
	font-family: 'Raleway', sans-serif;
	color: #036A81;
	font-size: 200%;
}

#about_header {
	position: absolute;
	left: 50%;
	top: 116%;
	width: 400px;
	text-align: center;
}

#details {
	position: absolute;
	left: 23%;
	top: 153%;
	width: 300px;
	text-align: center;
}

#deets {
	position: absolute;
	left: 23%;
	top: 158%;
	width: 300px;
}

#deets p {
	font-family:"Open Sans";
	font-size: 16px;
	font-style: normal;
	text-align: center;
}

#prof_desc {
	width: 400px;
	height 400px;
	position: absolute;
	left: 50%;
	top: 124%;
}

#prof_desc p {
	font-family:"Open Sans";
	font-size: 16px;
	font-style: normal;
}

#footer {
	width: 100%;
	height: 150px;
	background: rgba(71, 76, 76, 0.87);
	line-height: 150px;
	bottom: 0;
}
#footer h2 {
	color: white;
	float: right;
	margin-right: 20px;
	font-weight: 200;
}
#footersym ul {
	display: inline-block;
	text-align: center;
}
#footersym ul li {
	display: inline-block;
	list-style-type: none;
}
#footersym ul li a {
	text-decoration: none;
	color: white;
	padding: 10px;
}
#footersym ul li:hover {
	background-color: ;
}
#icon {
	font-size: 36px;
}
#stack_icon {
	font-size: 36px;
}
#linkedin_icon {
	font-size: 36px;
}
#github_icon {
	font-size: 36px;
}
#icon:hover {
	color: #516fad;
	transition: all ease-in-out 0.40s;
}
#stack_icon:hover {
	color: #f48023;
	transition: all ease-in-out 0.40s;
}
#linkedin_icon:hover {
	color: #0077b5;
	transition: all ease-in-out 0.40s;
}
#github_icon:hover {
	color: #ffffff;
	transition: all ease-in-out 0.40s;
}
#nav_about {
	width: 100%;
	height: 90px;
	background-color: #036A81;
}
#nav_contact {
	width: 100%;
	height: 90px;
	background-color: #036A81;
}
#nav_more {
	width: 100%;
	height: 90px;
	background-color: #036A81;
}

#mainform {
	width: 100%;
	height: 915px;
	background: #ffa300;
}
#form {
	width: 100%;
	height: 715px;
	background: #3d5265;
	color: white;
	line-height: 34px;
}
form {
	margin-left: 29%;
}
#tops {
	font-family: Lato, sans-serif;
	font-weight: bold;
	line-height: 40px;
	font-size: 24px;
	padding: 10px;
	text-align: center;
}
/*form {
	margin-left: 100px;
}*/
#name {
	width: 60%;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#comment {
	width: 60%;
	height: 150px;
	border-radius: 5px;
	padding: 7px;
}
#sub {
	width: 18%;
	background: #036a81;
	border-radius: 5px;
	height: 50px;
	border: 0px;
	color: white;
	font-size: 14px;
}
#sub:hover {
	background: #15424c;
}
#extra {
	text-align: center;
	line-height: 24px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 24px;
	color: white;
}
#extra p {
	text-align: center;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	line-height: 24px;
	font-size: 16px;
}
.star {
	color: #eadc5e;
	display: inline;
}
.list_drop {
	width: 61%;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #CCC;
	color: #757576;
}

#response {
	width: 100%;
}

#response p {
	font-family: Times;
	line-height: 24px;
	font-size: 16px;
	color: white;
	margin-left: 0%;
	margin-top: 1%;
}